.card{
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.card img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.card h3{
    margin-top: -63px;
    margin-left: 10px;
    color: white;
    max-width: 347px; 
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 900;
}
