.card{
    width: 30%;
    height: 370px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.card img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: brightness(90%);
}
.card h3{
    margin-top: -63px;
    margin-left: 10px;
    color: white;
    max-width: 347px; 
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 900;
    z-index: 1;

}
@media only screen and (max-width: 700px){
.card img{
    width: 300px;
    height: 300px;
}
.card h3{
    margin-top: -75px;
    width: 175px;
    font-size: 1em;
}
.card{
    margin-bottom: -40px;
}
  
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .card{
     
      margin: 10px;
      margin-bottom: -160px;
    }
    .card img{
        width: 200px;
        height: 200px;
    }
    .card h3{
        font-size: 1em;
    }

  }