

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  margin: 100px 470px auto;
}
nav{
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
}
li{
  list-style-type: none;
  margin: 20px;
}
li a{
  font-weight: bold;
}
a{ text-decoration: none;
  color: #ff6060;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 900;
}
.active {
text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .header img {
    height: 41px;
  }
  .header{
    margin: 20px 20px 20px 20px;
  }
  nav{
    margin-left: -30px;
  }
  .banner-image img{
    width: 300px;
    height: 128px;
    margin-top: -180px;
  }

ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
li{
    list-style-type: none;
    margin: 4px;
    
}
a{ text-decoration: none;
    color: #ff6060;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Montserrat';
}
.active {
  text-decoration: underline;
}
}