
  .banner{
    position: relative;
    border-radius: 25px;
    height: 230px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-image img {
    width: 1240px;
    height: 223px;
    display: flex;
   
    object-fit: cover;
    border-radius: 20px;
  
  }

  .banner-content {
    position: relative;
    text-align: center;
  }
  
  .banner-content h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
  }

  